// App global
@background: #282828;
@color: #939393;
@seperator: #474747;

// Panels
@panel-bg: lighten(@background, 2%);
@panel-color: @color;
@panel-border: #1b1b1b;

// Controls
@control-bg: darken(@background, 2%);
@control-color: @color;
@control-border: @panel-border;
@control-primary: #177bce;